.distribution{
    background: #fff;
    flex: 1;
    margin: $card-margin $card-margin*2 $card-margin*2 $card-margin;
}

.distribution h1, .distribution h2, .distribution h3{
    padding-top: 0rem;
    margin-top: 1rem;
}

.distribution canvas{
    margin: auto;
}

@media (max-width: 1090px){
    .distribution{
        // margin: 2rem 4rem 2rem 4rem;
    }
}

@media (max-width: 800px){
    .distribution{
        margin: 1rem 0rem;
    }

    .distribution canvas{
        margin: auto;
    }
}