.header{
    background-color: #fafafa;
    margin-bottom: $card-margin;
    padding-top: 2rem;
    border-bottom: 1px solid #e0e0e0;
}

.header-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.header-title{
    flex: 1;
    text-align: left;
    margin-left: 2.4rem*3;
}

@media (max-width: 600px){

    .header-title h2{
        text-align: left;
    }
}
