.header{
    background-color: #fafafa;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    // height: 6rem;
    margin-bottom: $card-margin;
    padding-top: 2rem;
    // padding: 2rem 0rem 2rem 0rem;
    // padding: 2rem;
    border-bottom: 1px solid #e0e0e0;
    // box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
}

.header-title{
    flex: 1;
    text-align: left;
    margin-left: 2.4rem*3;
}

.header-title h2{
    // font-weight: 500;
}


@media (max-width: 600px){
    .header>*{
        // flex: 0 0 100% !important;
        // margin: 1rem 0rem;
    }


    .header-title h2{
        text-align: left;
    }
}
