.payout{
    background: #fff;
    flex: 1;
    margin: $card-margin;
    margin-right: $card-margin*2;

    border-top: 1rem solid orange;
}

@media (max-width: 600px){
    .payout{
        margin: 1rem 0rem;
    }
}