.progress{
    background: #fff;
    flex: 2;
    text-align: left;
    margin: $card-margin $card-margin*2 $card-margin $card-margin*2;
}

.progress h3{
    padding-left: 2rem;
}

@media (max-width: 600px){
    .progress h3{
        padding-left: 1rem;
    }
    .progress{
        margin: 1rem 0rem;
    }
}