.progress{
    background: #fff;
    flex: 2;
    text-align: left;
    margin: $card-margin $card-margin*2 $card-margin $card-margin*2;
}

.progress h1, .progress h2, .progress h3{
    padding-top: 0rem;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

@media (max-width: 600px){
    .progress h2{
        // padding-left: 1rem;
    }
    .progress{
        margin: 1rem 0rem;
    }
}