.sidebar{
    margin: 0rem;
    background-color: #fff;
    width: 32rem;
    padding: 2rem;
    border-right: 1px solid #eee;
    // box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    z-index: 2;
    min-height: 100vh;
}

.sidebar h1{
    margin-top: 0rem;
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.sidebar h2{
    margin: 4rem 0rem 2rem 0rem;
}

.apikey{
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

@media (max-width: 840px){
    .sidebar{
        display: none;
        position: fixed;
        height: 1000vh;
        width: calc(100% - 5rem);
    }
}