.workers{
    margin-left: $card-margin*2;
    animation: displayBar $stats-row-spawn-time ease-in-out;
}

.workers-list{
    overflow-y: scroll;
    height: 14rem;
    border: 0rem 1rem solid #eee;
}

@media (max-width: 800px){
    .workers{
        margin: 1rem 0rem;
    }
}

@keyframes displayBar {
    0% {
        overflow: hidden;
    }
    100% {
        height: scroll;
    }
}