.workers{
    background: #fff;
    flex: 1;
    overflow-y: scroll;
    margin: $card-margin;
    margin-left: $card-margin*2;
    border-top: 1rem solid crimson;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;
}

.workers::-webkit-scrollbar { 
    display: none; 
}

@media (max-width: 600px){
    .workers{
        margin: 1rem 0rem;
    }
}