.workers{
    background: #fff;
    flex: 1;
    overflow-y: scroll;
    margin: $card-margin;
    margin-left: $card-margin*2;
    border-top: 1rem solid #aaa;

    // -ms-overflow-style: -ms-autohiding-scrollbar;
    // -ms-overflow-style: none;
}

.workers:hover{
    border-top-color: #7093CC;
}

.workers::-webkit-scrollbar { 
    // display: none; 
}

@media (max-width: 800px){
    .workers{
        margin: 1rem 0rem;
    }
}