html {
    font-size: 62.5%;
}

body {
    // font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 0rem;
    font-weight: 300;
}

canvas{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.row>*{
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
}

@media (min-width: 600px){

    .row--1{
        min-height: 12.5rem;
    }
    
    .row--2{
        height: 20rem;
    }
    
    .row--3{
        min-height: 40rem;
    }

    .row>*{
        padding: 2rem;
    }
}

@media (max-width: 600px){
    .row>*{
        flex: 0 0 100% !important;
        padding: 1rem 0rem;
    }
}
