html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

.charts{
    padding:1rem;
}

.input-container{
    margin: auto;
    text-align: center;
}

.input{
    width: 36rem;
    text-align: center;
}

@media (min-width: 480px){
    .charts{
        padding: 5rem;
    }
}